* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app {
  min-height: 100vh;
  background-color: #c6afd8;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 30px 10px;
}

.container {
  width: 370px;

  background-color: #faf9fc;

  border-radius: 20px;

  padding: 25px;

  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

.container h1 {
  text-align: center;

  font-size: 24px;

  margin-top: 0;
  margin-bottom: 40px;
}



.balance-section {
  margin-bottom: 25px;
}

.balance-label {
  font-size: 14px;

  font-weight: bold;

  margin: 0;
}

.balance-section h2 {
  font-size: 32px;

  font-weight: normal;

  margin: 2px 0;
}



.summary {
  background-color: white;

  border-radius: 14px;

  padding: 15px 10px;

  display: flex;

  align-items: center;

  justify-content: space-around;

  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);

  margin-bottom: 45px;
}

.summary-item {
  flex: 1;

  text-align: center;
}

.summary-item h3 {
  font-size: 13px;

  margin: 0 0 3px;
}

.summary-item p {
  font-size: 23px;

  margin: 0;
}

.income {
  color: #4cd964;
}

.expense {
  color: #ff5a5f;
}

.divider {
  width: 1px;

  height: 45px;

  background-color: #ddd;
}



.section-title {
  font-size: 18px;

  margin: 0 0 12px;
}

.purple-line {
  height: 2px;

  background-color: #dec9ed;

  margin-bottom: 22px;
}



.history-section {
  margin-bottom: 45px;
}

.transaction {
  background-color: white;

  border-radius: 13px;

  padding: 14px 12px;

  margin-bottom: 12px;

  display: flex;

  justify-content: space-between;

  align-items: center;

  font-size: 16px;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.income-border {
  border-right: 6px solid #4cd964;
}

.expense-border {
  border-right: 6px solid #ff4d5a;
}

.transaction-title {
  color: #222;
}

.transaction-amount {
  color: #222;
}



.add-section {
  margin-bottom: 0;
}

.add-form {
  background-color: white;

  border-radius: 14px;

  padding: 16px;

  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15);
}

.add-form label {
  display: block;

  font-size: 16px;

  margin-bottom: 8px;
}

.add-form input[type="text"],
.add-form input[type="number"] {
  width: 100%;

  height: 28px;

  border: 1px solid #dcc9e8;

  border-radius: 6px;

  padding: 5px;

  margin-bottom: 10px;

  font-size: 13px;

  outline: none;
}

.add-form input:focus {
  border-color: #935bc7;
}

.radio-option {
  display: flex !important;

  align-items: center;

  gap: 10px;

  margin: 10px 0 !important;
}

.radio-option input {
  width: 14px;

  height: 14px;
}

.add-form button {
  width: 100%;

  height: 30px;

  border: none;

  border-radius: 6px;

  background-color: #935bc7;

  color: white;

  font-size: 16px;

  cursor: pointer;

  margin-top: 8px;
}

.add-form button:hover {
  background-color: #804bb4;
}